@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
	height: 100dvh;
	width: 100dvw;
	top: 24%;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hero .slidingTextContainer {
	position: absolute;
	bottom: -2.5rem;
	font-size: 60vh;
	white-space: nowrap;
	color: #ffffff09;
	width: 50%;
	font-weight: bold;
}

/* Vertical line container */
.vertical-line {
	position: relative;
	width: 3px; /* Width of the vertical line */
	height: 150px; /* Height of the vertical line */
	background-color: #c0c0c0; /* Light gray background for the vertical line */
	overflow: hidden; /* Hide overflowing content */
}

/* Infinite scrolling line */
.scrolling-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		transparent,
		#e55e72,
		transparent
	); /* Gradient for the scrolling effect */
	animation: scroll 1.5s linear infinite; /* Infinite scroll animation */
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
	0% {
		transform: translateY(-100%); /* Start above the container */
	}
	100% {
		transform: translateY(100%); /* Move below the container */
	}
}
@layer components {
	.custom-positioning {
		top: 75px !important;
		left: 117px !important;
	}

	/* Default styles for very small screens */
	@media (max-width: 359px) {
		.custom-positioning {
			top: 95px !important;
			left: 146px !important;
		}
	}

	/* 375px width devices */
	@media (width >= 375px) and (width < 390px) {
		.custom-positioning {
			top: 38.2% !important;
			left: 53.5% !important;
		}
	}

	/* 390px width devices */
	@media (width >= 390px) and (width < 412px) {
		.custom-positioning {
			top: 38.2% !important;
			left: 53.5% !important;
		}
	}

	/* 360px width devices */
	@media (min-width: 360px) and (max-width: 412px) {
		.custom-positioning {
			top: 26.5% !important;
			left: 41% !important;
		}
	}

	/* 430px width devices */
	@media (min-width: 413px) and (max-width: 480px) {
		.custom-positioning {
			top: 26.5% !important;
			left: 41% !important;
		}
	}
	@media (min-width: 481px) and (max-width: 520px) {
		.custom-positioning {
			top: 26.5% !important;
			left: 41% !important;
		}
	}

	@media (min-width: 521px) and (max-width: 640px) {
		.custom-positioning {
			top: 27% !important;
			left: 42% !important;
		}
	}
	@media (min-width: 641px) and (max-width: 768px) {
		.custom-positioning {
			top: 26.5% !important;
			left: 41.5% !important;
		}
	}
	@media (min-width: 767px) and (max-width: 1024px) {
		.custom-positioning {
			top: 26.5% !important;
			left: 42% !important;
		}
	}
	@media (min-width: 1025px) and (max-width: 1280px) {
		.custom-positioning {
			top: 26.5% !important;
			left: 42% !important;
		}
	}

	/* 1280px width devices */
	@media (min-width: 1281px) and (max-width: 1366px) {
		.custom-positioning {
			top: 28% !important;
			left: 42% !important;
		}
	}

	/* 1366px width devices */
	@media (min-width: 1367px) and (max-width: 1440px) {
		.custom-positioning {
			top: 29% !important;
			left: 42.5% !important;
		}
	}

	/* 1440px width devices */
	@media (min-width: 1441px) and (max-width: 1536px) {
		.custom-positioning {
      top: 29% !important;
			left: 43% !important;
		}
	}

	/* 1536px width devices */
	@media (min-width: 1537px) and (max-width: 1600px) {
		.custom-positioning {
      top: 29% !important;
			left: 44% !important;
		}
	}
	@media (min-width: 1601px) and (max-width: 1700px) {
		.custom-positioning {
      top: 29.5% !important;
      left: 43.8% !important;
		}
	}
	@media (min-width: 1701px) and (max-width: 1800px) {
		.custom-positioning {
      top: 30% !important;
      left: 44.5% !important;
		}
	}
	@media (min-width: 1801px) and (max-width: 1920px) {
		.custom-positioning {
      top: 30.2% !important;
      left: 45% !important;
		}
	}
	@media (min-width: 1921px) and (max-width: 2000px) {
		.custom-positioning {
      top: 30.1% !important;
      left: 44.5% !important;
		}
	}
	@media (min-width: 2001px) and (max-width: 2200px) {
		.custom-positioning {
      top: 30.1% !important;
      left: 44.7% !important;
		}
	}
	@media (min-width: 2201px) and (max-width: 2560px) {
		.custom-positioning {
      top: 31.3% !important;
      left: 46% !important;
		}
	}
	@media (min-width: 2560px)  {
		.custom-positioning {
      top: 31.3% !important;
      left: 45.7% !important;
		}
	}
}
