.hero {
	height: 100dvh;
	width: 100dvw;
	top: 24%;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hero .slidingTextContainer {
	position: absolute;
	bottom: -2.5rem;
	font-size: 60vh;
	white-space: nowrap;
	color: #ffffff09;
	width: 50%;
	font-weight: bold;
}
