
@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
	height: 100dvh;
	width: 100dvw;
	top: 24%;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hero .slidingTextContainer {
	position: absolute;
	bottom: -2.5rem;
	font-size: 60vh;
	white-space: nowrap;
	color: #ffffff09;
	width: 50%;
	font-weight: bold;
}

/* Vertical line container */
.vertical-line {
	position: relative;
	width: 3px; /* Width of the vertical line */
	height: 150px; /* Height of the vertical line */
	background-color: #c0c0c0; /* Light gray background for the vertical line */
	overflow: hidden; /* Hide overflowing content */
}

/* Infinite scrolling line */
.scrolling-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		transparent,
		#e55e72,
		transparent
	); /* Gradient for the scrolling effect */
	animation: scroll 1.5s linear infinite; /* Infinite scroll animation */
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
	0% {
		transform: translateY(-100%); /* Start above the container */
	}
	100% {
		transform: translateY(100%); /* Move below the container */
	}
}



@layer components {
  .custom-positioning {
    top: 145px;
    left: 230px;
  }

  @media (min-width: 320px) {
    .custom-positioning {
      top: 131px;
      left: 206px;
    }
  }

  @media (min-width: 480px) {
    .custom-positioning {
      top: 160px;
      left: 270px;
    }
  }

  @media (min-width: 640px) {
    .custom-positioning {
      top: 29%;
      left: 52.5%;
    }
  }

  @media (min-width: 768px) {
    .custom-positioning {
      top: 29%;
      left: 52.5%;
    }
  }

  @media (min-width: 1024px) {
    .custom-positioning {
      top: 29%;
      left: 52.5%;
    }
  }

  @media (min-width: 1280px) {
    .custom-positioning {
      top: 29%;
      left: 52.5%;
    }
  }

  @media (min-width: 1440px) {
    .custom-positioning {
      top: 29.5%;
      left: 52.5%;
    }
  }
}