.cube-radio {
	width: 130px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
	border-radius: 10px;
	transition: transform 0.3s ease, background-color 0.3s ease;
	cursor: pointer;
	perspective: 1000px;
	position: relative;
	padding: 10px;
	background-color: #e8f5f2c0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cube-radio:hover {
	border: solid 2px #b0e1ec;
	color: #b0e1ec;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.cube-radio.selected {
	border: 2px solid #3c79b4;
	color: #3c79b4;
	background-color: #b0e1ec;
}

.answer-text {
	/* font-weight: bold; */
	color: #000;
}

.previous-btn,
.next-btn:hover {
	transition: all 0.3s ease;
}
