@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
}

[data-scroll-container] {
	overflow: hidden;
}

html,
body {
	margin: 0;
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	/* background-color: red; */
}

.panel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	height: 100dvh;
	position: sticky;
	top: 0;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-padding-top: 0px;
}

.section {
	width: 100dvw;
	height: 100dvh;
	scroll-snap-align: center;
}

@media screen and (max-width: 1024px) {
	.scroll-container {
		overflow-y: scroll;
		height: 100dvh;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		scroll-padding-top: 0px;
	}
}

/* .scroll-container {
	overflow-y: scroll;
	height: 100dvh;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-padding-top: 0px;
} */

a {
	text-decoration: none !important;
	color: var(--green-dark);
}

/* SCROLL DOWN */
.scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	color: black;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	overflow: visible;
}

footer {
	display: flex;
	width: 100dvw;
	height: 100dvh;
	position: relative;
	z-index: 10;
	background-color: #333; 
	padding: 20px;
}

/* Vertical scrollbar */
::-webkit-scrollbar {
	width: 0;
	background-color: #1e1e66;
}

::-webkit-scrollbar:horizontal {
	height: 0px;
	background-color: #1e1e66;
}

::-webkit-scrollbar-thumb {
	background-color: #ffcc00;
	border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ff9900;
}

.btn-1 {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	border: solid transparent 2px;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s ease;
	background-color: #e55e72;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: normal;
}

.btn-2 {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	border: solid #0e100f 2px;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s ease;
	color: #0e100f;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: normal;
}

.btn-2:hover {
	border-color: #e55e72;
	/* color: #48ffbc; */
	background-color: #e55e72;
}

.btn-main-normal:hover {
	border-color: #34d399;
	/* color: #48ffbc; */
	background-color: transparent;
}
.btn-3 {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	border: solid transparent 2px;
	border-radius: 0.5rem;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
	transition: all 0.3s ease;
	background-color: #0e100f;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	font-size: 18px;
	font-weight: normal;
}

.btn-3:hover {
	color: #0e100f;
	border-color: #0e100f;
	border-width: 2px;
	background-color: transparent;
}

.btn-main-normal.dark {
	box-shadow: 0 0 1rem rgba(46, 204, 113, 0.1);
}

.btn-main-normal.dark:hover {
	box-shadow: 0 0 1.5rem rgba(46, 204, 113, 0.3);
}

.btn-bg-green {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	border: solid transparent 2px;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s ease;
	background-color: #22c55e;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: normal;
	color: #000;
}

.btn-bg-green:hover {
	border-color: #22c55e;
	color: #fff;
	background-color: transparent;
}

.btn-bordered-yellow {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	border: solid #eab308 2px;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s ease;
	background-color: #000;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: normal;
}

.btn-bordered-yellow:hover {
	border-color: #eab308;
	/* color: #48ffbc; */
	background-color: #eab308;
}

.btn-bordered-red {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	border: solid #ef4444 2px;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s ease;
	background-color: #000;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: normal;
}

.btn-bordered-red:hover {
	border-color: #ef4444;
	/* color: #48ffbc; */
	background-color: #ef4444;
}
